body{
    display: block;
}

.column{
    overflow: hidden; /* this prevents children to run out of parent box */
    box-sizing: border-box;
    display: block;
    width: 30px;
}

#container{
    box-sizing: border-box;
    display:flex;
}

#return{
    margin-top: 10px;
    height:30px;
    width: 90px;
    background-image: url("./images/go_back.png");
}

.field{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border:1px solid black;
    background-size: 100%;
}